header{
  background-color: white;
  height: 50px;
}


header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  text-decoration: none;

}

header li {
  float: left;
  width: auto;
  list-style:none;
  margin :15px;

}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.parent{
  width: 100px;
  margin: 10px 20px;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.inner{
  padding: 5px;
  margin: 0 10px;
  width: 200px;
  display: inline-block;
}

.left {float: left;margin-right:10px;}

body{
background-color:#EEEEEE
}

.post{
   margin: 30px 10px;

}

.picture{
  margin: 0px 50px 0px 250px;
  }



// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
